* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #89b189;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    /* transform: scale(0.8); */
    /* overflow: hidden; */
}

.container {
    background-color: #588157;
    margin: 50px;
    padding: 50px;
    border-radius: 35px;
}

.title {
    text-align: center;
}

.title span {
    color: #c2ddc2;
}

.status-action {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-between;
    /* height: 30px; */
}

.status span {
    color: #eef8ee;
}

.reset {
    cursor: pointer;
    border: #c0dbc0 dotted 3px;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

.reset:hover {
    color: #c0dbc0;
}

.game-grid {
    background: #c2ddc2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*else use Xpx Ypx Zpx*/
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}

.game-cell {
    cursor: pointer;
    height: 200px;
    width: 200px;
    background: #588157;
    display: flex;
    align-items: center;
    justify-content: center;

}

.game-cell:hover {
    background: #588157;
    opacity: 0.8;
}

.X::after {
    content: 'X';
    font-size: 170px;
}

.O::after {
    content: 'O';
    color: #eef8ee;
    font-size: 170px;
}

.won::after {
    color: rgb(175, 40, 40);
}

@media only screen and (max-width: 1024px) {
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }

    .game-cell {
        height: 150px;
        width: 150px;
    }

    .X::after {
        font-size: 150px;
    }

    .O::after {
        font-size: 175px;
    }

}

@media only screen and (max-width: 540px) {
    .container {
        margin: 25px;
        padding: 25px;
    }

    .game-cell {
        height: 100px;
        width: 100px;
    }

    .X::after {
        font-size: 100px;
    }

    .O::after {
        font-size: 125px;
    }
}